extends ../layouts/default

block description
  meta(name='description', content='JS SVG Pan Zoom demo')

block vars
  - var pageTitle = 'SVG Pan Zoom'

block content
  include Tiger.svg
  include:md README.md
  //-pre
  //-  code
  //-    include ../../SVGPanZoom/SVGPanZoom.js
  script
    include ../../SVGPanZoom/SVGPanZoom.js
  // Dependency! The includes go to my local SVGPanZoom repo.

  script.
    addPanZoomToSVG({svgID: "svgtiger", panzoomID: "tigerpanzoom"});
