extends ../layouts/default

block description
  meta(name='description', content='My attempts at building robots')

block vars
  - var pageTitle = 'Robots'

block content
  include Tiger.svg
  include:md README.md
  pre
    code
      include SVGPanZoom.js
