extends layouts/default

block vars
  - var pageTitle = 'Home'

block description
  meta(name='description', content='Personal website of Remco Tukker, independent software specialist')

block styles
  style(type='text/css').
    #maincontainer { display: none;}
//    #contentcontainer { opacity: 0;}
//    #contentcontainer { display: none; z-index: 0;}

