extends layouts/default

block vars
  - var pageTitle = 'Home'

block styles
  style(type='text/css').
    #maincontainer { display: none;}
//    #contentcontainer { opacity: 0;}
//    #contentcontainer { display: none; z-index: 0;}

