extends ../layouts/default

block description
  meta(name='description', content='Resume and contact information of Remco Tukker')

block vars
  - var pageTitle = 'First post title'

block content
  include:md README.md
