extends ../layouts/default

block description
  meta(name='description', content='The 2nd Law of Thermodynamics')

block vars
  - var pageTitle = 'Thermodynamics'

block content
  include:md README.md
