doctype html
html
  block vars
  head
    meta(charset='utf-8')
    title #{pageTitle} &mdash; Remco Tukker
    block description
    // main styles
    link(href="/static/css/styles.css", rel="stylesheet")
    script(src="/static/js/jquery-2.1.1.js")
    script(src="/static/js/vis.js")
    block styles
  body
    #graphcontainer
      block navigation
    #maincontainer
      #sidebarcontainer
        block sidebar
      #contentcontainer
        block content

    // main javascript
    script(src="/static/js/navigation.js")
    block scripts
    block analytics
      //script.
      // google analytics code, etc...

