extends base

block mainblock
  #maincontainer
    #sidebarcontainer
      a(href="/", id="navigationlink")
      block sidebar
    #contentwrapper
      #toppadding
      #contentcontainer
        block content
      #bottompadding
