extends ../layouts/default

block description
  meta(name='description', content='Evolution and evolutionary algorithms')

block vars
  - var pageTitle = 'Evolution'

block content
  include:md README.md
